extends layout

block content
  header
    nav(class="navbar navbar-light bg-light")
      a(class="navbar-brand" href="#")
        img(src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="")
  div.sidebar
    div.sidebar-content
      h2.
        De goedkoopste top 10 <strong>enkele reizen</strong> vanaf <strong>Eindhoven</strong> in <strong>maart</strong>
      div.cards
        div(class="card")
          div.card-img-top
            div.card-img-top-bottom
              div(class="card-body")
                h4(class="card-title").
                  <span class="badge badge-success">Goedkoopste reis</span>
                  <span class="badge badge-secondary">37% goedkoper dan bij Ryanair</span>
                  <small>Eindhoven naar</small>
                  <strong>London</strong> <small class="departure">voor</small> <strong>€ 6,99</strong>
                h5(class="card-subtitle mb-2") Voor deze prijs kun je naar London vliegen op . Deze vlucht wordt uitgevoerd door Ryanair. 
        div(class="card")
          div.card-img-top
            div.card-img-top-bottom
              div(class="card-body")
                h4(class="card-title").
                  <span class="badge badge-secondary">37% goedkoper dan bij Ryanair</span>
                  <small>Eindhoven naar</small>
                  <strong>London</strong> <small class="departure">voor</small> <strong>€ 6,99</strong>
                h5(class="card-subtitle mb-2") Voor deze prijs kun je naar London vliegen op . Deze vlucht wordt uitgevoerd door Ryanair. 
        div(class="card")
          div.card-img-top
            div.card-img-top-bottom
              div(class="card-body")
                h4(class="card-title").
                  <span class="badge badge-secondary">37% goedkoper dan bij Ryanair</span>
                  <small>Eindhoven naar</small>
                  <strong>London</strong> <small class="departure">voor</small> <strong>€ 6,99</strong>
                h5(class="card-subtitle mb-2") Voor deze prijs kun je naar London vliegen op . Deze vlucht wordt uitgevoerd door Ryanair. 
    div.sidebar-bottom
      small. 
        Met <i class="fas fa-heart heart"></i> gemaakt door Milan Passchier.
  div(id='map')
  script.
    L.mapquest.key = 'gPQc8rPNA7c5ZP9k6gfGGXAZA0xDIpQ8';
    var baseLayer = L.mapquest.tileLayer('map');

    // 'map' refers to a <div> element with the ID map
    let map = L.mapquest.map('map', {
      center: [37.7749, -122.4194],
      layers: baseLayer,
      zoom: 12
    });
    
    L.mapquest.textMarker([45, -120], {
      text: 'London',
      subtext: '€ 6,99 (37% goedkoper)',
      position: 'right',
      type: 'marker',
      icon: {
        primaryColor: '#333333',
        secondaryColor: '#333333',
        size: 'sm'
      }
    }).addTo(map);
    
    L.control.layers({
      'Map': baseLayer,
      'Donker': L.mapquest.tileLayer('dark')
    }).addTo(map);