extends layout

block content
  header
    nav(class="navbar navbar-light")
      div
        a(class="navbar-brand" href="#")
          img(src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="")
        form(class="form-inline")
          input(class="form-control mr-sm-2" type="search" placeholder="Vluchten zoeken vanaf..." aria-label="Search")
  div.sidebar.bg-light
    div.sidebar-content
      h2.
        De goedkoopste top 10 <strong>enkele reizen</strong> vanaf <strong>Eindhoven</strong> in <strong>maart</strong>
      div.cards
    div.sidebar-bottom
      small. 
        Met <i class="fas fa-heart heart"></i> gemaakt door Milan Passchier
  div(id='map')
  script.
    L.mapquest.key = 'gPQc8rPNA7c5ZP9k6gfGGXAZA0xDIpQ8';
    var baseLayer = L.mapquest.tileLayer('map');

    // 'map' refers to a <div> element with the ID map
    let map = L.mapquest.map('map', {
      center: [51.436600, 5.478000],
      layers: baseLayer,
      zoom: 4
    });
    
    $.ajax({type: 'get', url: "map/data", data: {departure: 'EIN'}, success: function(result) {
    
      var counter = 0; 
      
      result.forEach(function(element) {
        
        var latLng = element.latLng;
        
        var latitude = element.latLng.lat;
        var longitude = element.latLng.lng;
        
        counter++;
        
        if (counter == 1) {
        
          var departures_counter = 0; 

          element.departures.forEach(function(departure_element) {

            departures_counter++;

            if (departures_counter == 1) {

              var price = Number(departure_element.price.edreams);
              
              var round = Math.round(departure_element.price.difference_fixed)

              var subtext = 'Vanaf € ' + price + ' (' + round + '% goedkoper)';

              L.mapquest.textMarker([latitude, longitude], {
                text: element.city,
                subtext: subtext,
                position: 'right',
                type: 'marker',
                icon: {
                  primaryColor: '#28a745',
                  secondaryColor: '#28a745',
                  size: 'sm'
                }
              }).addTo(map);
              
              $(".cards").append('<div class="card" id="' + counter + '"><a href="#" title="" data-id="' + counter + '"><div class="card-img-top" style="background: rgba(0, 0, 0, 0) url(&quot;https://source.unsplash.com/' + element.background + '/800x450&quot;) no-repeat scroll 0% 0% / cover;"><div class="card-img-top-bottom"><div class="card-body"><h4 class="card-title"><span class="badge badge-success">Goedkoopste reis</span><span class="badge badge-secondary">' + round + '% goedkoper dan bij ' + element.carrier + '</span><small>Eindhoven naar</small><strong>' + element.city + '</strong> <small class="departure">vanaf</small> <strong>€ ' + price + '</strong></h4><h5 class="card-subtitle mb-2">Deze vlucht wordt uitgevoerd door ' + element.carrier + ' en vertrekt op ' + departure_element.departure + '. </h5></div></div></div><div class="flights" data-id="' + counter + '"><table class="table"><tbody><tr><th scope="row">' + departure_element.departure + '</th><td>' + element.carrier + '</td><td><button type="button" class="btn btn-primary btn-sm">€ ' + price + '</button></td></tr></tbody></table></div></a></div>');
              $(".card#" + counter + " .card-img-top").css({"background": "url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover" });
              $(".card#" + counter + " .card-img-top").hover(function() {
                $(this).css({"background": "linear-gradient(to bottom, transparent, black), url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover" });
              }, function() {
                $(this).css({"background": "url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover"});
              });
              
              $( ".card a" ).click(function() {
              
                $(".card#" + this.getAttribute("data-id") + " .card-img-top").css({"border-radius": ".25rem .25rem 0rem 0rem"});

                $( ".flights[data-id='" + this.getAttribute("data-id") + "']" ).slideDown( "fast", function() {
                  // Animation complete.
                });

              });
                
            } else {

              var price = Number(departure_element.price.edreams);
            
              $(".flights[data-id='" + counter + "'] tbody").append('<tr><th scope="row">' + departure_element.departure + '</th><td>' + element.carrier + '</td><td><button type="button" class="btn btn-primary btn-sm">€ ' + price + '</button></td></tr>')
            
            }

          })
        
        } else {
          var departures_counter = 0; 

          element.departures.forEach(function(departure_element) {

            departures_counter++;
            
              if (departures_counter == 1) {
        
                var price = Number(departure_element.price.edreams);

                var round = Math.round(departure_element.price.difference_fixed)

                var subtext = 'Vanaf € ' + price + ' (' + round + '% goedkoper)';

                L.mapquest.textMarker([latitude, longitude], {
                  text: element.city,
                  subtext: subtext,
                  position: 'right',
                  type: 'marker',
                  icon: {
                    primaryColor: '#333333',
                    secondaryColor: '#333333',
                    size: 'sm'
                  }
                }).addTo(map);
                
              $(".cards").append('<div class="card" id="' + counter + '"><a href="#" title="" data-id="' + counter + '"><div class="card-img-top" style="background: rgba(0, 0, 0, 0) url(&quot;https://source.unsplash.com/' + element.background + '/800x450&quot;) no-repeat scroll 0% 0% / cover;"><div class="card-img-top-bottom"><div class="card-body"><h4 class="card-title"><span class="badge badge-secondary">' + round + '% goedkoper dan bij ' + element.carrier + '</span><small>Eindhoven naar</small><strong>' + element.city + '</strong> <small class="departure">vanaf</small> <strong>€ ' + price + '</strong></h4><h5 class="card-subtitle mb-2">Deze vlucht wordt uitgevoerd door ' + element.carrier + ' en vertrekt op ' + departure_element.departure + '. </h5></div></div></div><div class="flights" data-id="' + counter + '"><table class="table"><tbody><tr><th scope="row">' + departure_element.departure + '</th><td>' + element.carrier + '</td><td><button type="button" class="btn btn-primary btn-sm">€ ' + price + '</button></td></tr></tbody></table></div></a></div>');
              $(".card#" + counter + " .card-img-top").css({"background": "url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover" });
              $(".card#" + counter + " .card-img-top").hover(function() {
                $(this).css({"background": "linear-gradient(to bottom, transparent, black), url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover" });
              }, function() {
                $(this).css({"background": "url('https://source.unsplash.com/" + element.background + "/800x450') no-repeat", "background-size": "cover"});
              });
              
              $( ".card a" ).click(function() {
              
                $(".card#" + this.getAttribute("data-id") + " .card-img-top").css({"border-radius": ".25rem .25rem 0rem 0rem"});

                $( ".flights[data-id='" + this.getAttribute("data-id") + "']" ).slideDown( "fast", function() {
                  // Animation complete.
                });

              });
              
              } else {
              
                var price = Number(departure_element.price.edreams);
              
                $(".flights[data-id='" + counter + "'] tbody").append('<tr><th scope="row">' + departure_element.departure + '</th><td>' + element.carrier + '</td><td><button type="button" class="btn btn-primary btn-sm">€ ' + price + '</button></td></tr>')
                
              }
              
            })
        
        }
        
      });
      
    }});
    

    
    L.control.layers({
      'Map': baseLayer,
      'Donker': L.mapquest.tileLayer('dark')
    }).addTo(map);